.bg-custom-img {
    background-image: url("https://img.freepik.com/free-photo/feedback-survey-response-advice-suggestions_53876-125410.jpg?w=740&t=st=1699129388~exp=1699129988~hmac=9e46b32d871f1026af376b0c0e107bf73df8931943b5a30388a1bfa663024336");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}